img.banner {
    height: 200px;
    width: 100%;
}

img.banner {
    max-width: 100%;
    height: auto;
  }

.bg-dark {
    color: #fff;
}

img.carIcon {
    height: auto;
    width: 50px;
}

.navbar a {
    color: #d5ff80
}

a.navbar-brand:hover {
    color:#d5ff80;
}

.navbar-nav > .active > a {
    color: rgb(32, 189, 201);
}

.navbar-nav a:hover {
    color: rgb(32, 189, 201);
    background-color: #000;
}

.navbar-dark {
    background-color: #000;
}

.navbar-nav > li > .dropdown-menu { 
    background-color: #000; 
}