* {
    background-color: #000;
}

img.banner {
    height: 200px;
    width: 100%;
    max-height: 200px;
    max-width: 100%;
}

.bg-dark {
    color: #fff;
}

img.carIcon {
    height: auto;
    width: 50px;
}

.navbar a {
    color: #d5ff80
}

a.navbar-brand:hover {
    color:#d5ff80;
}

.navbar-nav > .active > a {
    color: rgb(32, 189, 201);
}

.navbar-nav a:hover {
    color: rgb(32, 189, 201);
    background-color: #000;
}

.navbar-dark {
    background-color: #000;
}

.navbar-nav > li > .dropdown-menu { 
    background-color: #000; 
}

#navbarSupportedContent {
    margin: 5px;
}

div p {
    color:#d5ff80;
}

div h1 {
    color:#d5ff80;
}

.site-footer {
    color:#d5ff80;
}

li > a {
    color:#d5ff80
}

li > a:hover {
    color: rgb(32, 189, 201);
}

.bi {
    color:#d5ff80
}

a > i {
    color: #d5ff80;
}

a.btn-link {
    color: #d5ff80;
}

a.btn-link:hover {
    color: rgb(32, 189, 201);
}